<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @crime.name %>
</p>

<p>
  <b>Crime type:</b>
  <%= @crime.crime_type.name %>
</p>


<%= link_to 'Edit', edit_crime_path(@crime) %> |
<%= link_to 'Back', crimes_path %>
